MONGODB_URI=mongodb://127.0.0.1:27017/nodejs_practices
# MONGODB_URI_WITH_AUTH=mongodb://root:example@127.0.0.1:27017/nodejs_practices?authSource=admin
JWT_SECRET=xxx
POSTGRES_DATABASE_URL="postgresql://postgres:postgres@localhost:5432/mydb"

### Docker Compose example
# POSTGRES_DATABASE_URL="postgresql://postgres:postgres@db:5432/nodejs_practices"
